@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #eefee;
}

#trans {
  width: 100%;
  height: 100%;
  opacity: .4;
  position: fixed;
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*
 * Form
 */

form {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: #fff;
}

form h1 {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 2em;
  background: #000;
}
input[type="text"] {
  min-width: 436px;
  height: 60px;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  border: none;
  background: none;
  border-bottom: 1px dashed #a9a9a9;
}

.btn {
  border: none;
  padding: 13px 20px 12px 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  background: #000;
}
.btn:hover {
  color: #000;
  background: #fff;
}

.username {
  font-size: 1rem;
}




/*
 * error handling
 */

.error {
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  border-bottom: 1px solid red;
  color: red;
  text-align: center;
  background: white;
}

/* album information */

.now {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 15px 15px 15px;
  transform: translateY(40px);
}

.holder {
  clear: both;
  display: flex;
  flex-flow: row;
}
.now h2 {
  margin-bottom: 0;
  padding: 10px;
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  background: #000;
}
.now .info {
  flex: 1;
  text-align: right;
}

.now .image {
  flex: 1;
  text-align: left;
}

.now .artwork {
  width: 300px;
  height: 300px;
  position: relative;
}

.now .artist {
  margin-top: 0;
  margin-bottom: 0;
  clear: both;
  padding: 10px;
  display: inline-block;
  font-size: 2rem;
  background: #fff;
}

.now .trackname {
  margin: 0;
  padding: 10px;
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
}

.now .album {
  padding: 10px;
  font-size: 1.3rem;
  display: inline-block;
  background: #fff;
}

.social h2 {
  color: #000;
  background: #fff;
}




.artwork .cover.default {
  font-size: 5em;
  text-align: center;
  line-height: 300px;
  background: #f7f7f7;
}

.artwork .cover {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 2;
  left: 0;
}

.artwork .vinyl {
  margin-left: 150px;
}

.vinyl {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  background: repeating-radial-gradient(black 5px, #111 6px, black 10px, #111 11px);
}
.vinyl:before {
  width: 100px;
  height: 100px;
  content: "hello";
  font-size: 8px;
  display: block;
  left: 100px;
  top: 100px;
  border-radius: 50px;
  background: white;
  position: absolute;
}
.vinyl:after {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 140px;
  top: 140px;
  border-radius: 50%;
  background: #000;
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating {
  from{
      -moz-transform: rotate(0deg);
  }
  to{
      -moz-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
}


/* latest */

.latest {
  width: 100%;
  max-width: 960px;
  margin-top: 400px;
  text-align: left;
  margin: 400px auto 0 auto;
}

.latest h2 {
  text-align: center;
}

.latest .tracks {
  width: 100%;
}

.latest .track {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
}

.latest .track .img-holder {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.latest .track img {
  display: block;
}

.latest .track .more {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-left: -100px;
  bottom: 100%;
  display: none;
  position: absolute;
  background: #fff;
}
.latest .track:hover .more {
  display: block;
}

.more:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  margin-bottom: -30px;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}






.animate {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.loading {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

.loading.ng-hide,
.now.ng-hide {
  opacity: 0;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 2.5s;
  transition: all linear 2.5s;
}
