@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #eefee;
}

#trans {
  width: 100%;
  height: 100%;
  opacity: .4;
  position: fixed;
  background-color: #eefeee;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(40px);
  -webkit-filter: blur(40px);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #008cba;
  border: 1px solid #008cba;
  background: #fff;
}
.btn:hover {
  color: #fff;
  background: #008CBA;
}

.username {
  font-size: 1rem;
}

input[type="text"] {
  font-size: 2rem;
  border: none;
  color: #000;
}

.error {
  padding: 10px 20px;
  background: white;
  border: 1px solid red;
  color: red;
}

/* album information */
.now {
  width: 800px;
  margin: 0 auto;
  padding: 15px;
  opacity: 1;
  background: #fff;
  border-radius: 10px;
}

.holder {
  clear: both;
}

.now .image {
  margin-right: -300px;
  float: left;
}

.now .artwork {
  width: 300px;
  height: 300px;
  background: #fff;
  position: relative;
  border: 1px solid darkgrey;
}

.artwork img {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 2;
  left: 0;
}

.artwork .vinyl {
  margin-left: 150px;
}

.vinyl {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  background: repeating-radial-gradient(black 5px, #111 6px, black 10px, #111 11px);
}
.vinyl:before {
  width: 100px;
  height: 100px;
  content: "hello";
  font-size: 8px;
  display: block;
  left: 100px;
  top: 100px;
  border-radius: 50px;
  background: white;
  position: absolute;
}
.vinyl:after {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 140px;
  top: 140px;
  border-radius: 50%;
  background: #000;
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating {
  from{
      -moz-transform: rotate(0deg);
  }
  to{
      -moz-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
}

.now .info {
  min-width: 250px;
  margin-left: 460px;
  text-align: left;
}

.latest {
  width: 100%;
  text-align: left;
  border: 1px solid #f00;
}

.animate {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.loading {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

.loading.ng-hide,
.now.ng-hide {
  opacity: 0;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 2.5s;
  transition: all linear 2.5s;
}
